/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  width: cover;
  margin: 0 auto;
}


p {

  font-size: 1rem;
}


/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 64px;
  background-color: white;
  font-family: "Verdona", sans-serif;

}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;
}

.logo img {
  height: 2rem;
}

.logo span {
  font-weight: bold;
}

nav ul {
  display: flex;
}

ul li{
  padding-right: 1rem;
}


/* Sign Up Section */

#sign-up-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f3f3f3;
  width: cover;
  padding: 2rem 3rem;
}


.image-container img{
 width: 60%;

}

/* -- Sign Up Section side-- */

.banner-contents {
  display: flex;
  flex-direction: column;
}

.text-content h2{
  margin: 2rem 0;
  color: #4a4a4a;
  font-size: 3rem;
  font-weight: bold;
}

.text-content p{
  margin: 2rem 0;
  color: #4a4a4a;
  font-size: 1.5rem;
}

.button {
  display: block;
  text-align: center;
  color: white;
  background-color: #4a4a4a;
  padding: .5rem 0;
  margin: 1rem 0;
}

/* information */

#information-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2rem 3rem;
}


.headline img{
  width: 60%;

}

.headline h3 {
  font-weight: bold;
  margin-top: 2rem;
  font-size: 2rem;
}

.headline p {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.Emanuel {
  padding: 2rem 0;
}

.Emanuel span {
  font-size: .75rem;
}



/*info*/

.info {
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
}

.info-image img{
  height: auto;
}

.info .text-container {
  display: flex;
  flex-direction: column;
}

/* Start Learning */

#start-learning {
  padding: 2rem 4rem;
  background-color: #f3f3f3;
  width: 100%;
}

.courses {
  text-align: center;

}

.courses h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 2rem;
}


#starting-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;

}

.center {
  background-color: white;
  height: 24rem;
  width: 20rem;
  margin: .3rem;

}

.center .image-container  {


}

.image-container img {
  height: auto;
  flex-direction: wrap;
  width: 100%;
}
/* Footer */
