/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: .9rem;
}


.main-content {
  position: relative;
  top: 3rem; /* To offset for fixed header. */

}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 64px;
  background-color: white;
  font-family: "Verdona", sans-serif;

}

.desktop {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 24px;
}

.logo img {
  height: 2rem;
}

.logo span {
  font-weight: bold;
}

nav ul {
  display: flex;
}

ul li{
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  header .logo{
    display: none;
  }

  header .desktop{
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
/* Main Content Universal */

#section-side {
  width: 40%;
}

#banner-content {
  width: 60%;
  margin: 2rem 3rem;
}

/* Sign Up  */

#sign-up-section {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  width: 100%;
}

/* -- SignUpside-- */


#signup-side {
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
}


.side-content h2{
  color: #4a4a4a;
  font-size: 3rem;
  font-weight: bold;
}

.side-content h4 {
  color: #4a4a4a;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.button {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #4a4a4a;
  padding: .5rem 0;
  margin: 1rem 0;
  width: 90%;
}


@media only screen and (max-width: 450px) {
  #sign-up-section {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;

  }

  #banner-content img{
    max-width: 450px;
  }

  #signup-side {
    padding-right: 1rem;
  }


  .side-content h2{
    color: #4a4a4a;
    font-size: 2rem;
    font-weight: bold;
  }

  .side-content h4 {
    color: #4a4a4a;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .button {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #4a4a4a;
    padding: .5rem 0;
    margin: 1rem 0;
    width: 90%;
  }


}

/* information */

#information-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
}

.headline h3 {
  font-weight: bold;
  font-size: 2rem;
}

.headline p {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.Emanuel {
  padding: 2rem 0;
}

.Emanuel span {
  font-size: .75rem;
}

@media only screen and (max-width: 450px) {
  #info-content {
    display: none;
  }
}

/*info-side*/

#infomation-side {
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.info-image {
  max-width: 35%;
  height: auto;
}

.info-image img {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;

}

.guest {
  background-color: #f3f3f3;
}

.sidetext-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.sidetext-container h4 {
  font-weight: bold;
  font-size: 1.1rem;
}

.sidetext-container p {
  font-size: .9rem;
  margin: .65rem auto;
}


/* Start Learning */

#start-learning {
  background-color: #f3f3f3;
  padding: 2rem 4rem;
}


#start-learning .headline h3{
  color: #4a4a4a;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

#starting-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.course{
  background-color: white;
  height: 24rem;
  width: 20rem;
  margin: .8rem;
}


.image-container img {
  height: auto;
 width: 100%;
}


.course-textcontent {
  margin: 1.5rem 2rem;
}


.course-textcontent h4 {
  font-weight: bold;
  font-size: 1.1rem;
}


.course-textcontent p {
  margin: 1.2rem 0;
}


@media only screen and (max-width: 450px) {
  #start-learning {
    display: none;
  }
}
/*  Thesis */

#thesis-section {
  width: 100%;
}

#thesis-section .headline h3{
  color: #4a4a4a;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

#thesis{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-top: 2rem;
}

/*  Thesis Video*/


#video {
  max-width: 60%;
  margin: 0 3rem;
}

.texts h3 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 1.35rem;
}

.texts p {
  margin-top: .7rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 450px) {
  .texts {
    display: none;
  }
}

/*  Thesis side*/

.fisma {
  background-color: #f3f3f3;
}


#thesis-side {
  width: 40%;
  padding-bottom: 2rem;
}


.thesis-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}


.thesis-image {
  height: auto;
  max-width: 35%;

}

.thesis-image img {
  width: 100%;
}

.thesis .sidetext-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}


@media only screen and (max-width: 450px) {
  #thesis-side {
    display: none;
  }
}
/* Footer */
 footer {
   padding: 1rem 1.5rem;
   display: flex;
   font-size: .7rem;
   border-top: .1rem dotted;

 }

.copyright {
  display: flex;
  flex: 1;
}

@media only screen and (max-width: 450px) {
  .copyright {
    display: block;
    text-align: center;
  }

  nav {
    display: none;
  }
}
